*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.search_filter_country_region{
    padding: 20px 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.searchBar{
    width: 30%;
}
.globe{
    width: 300px;
}


/* Media Query */

@media screen and (max-width:414px) {
    .search_filter_country_region{
        flex-direction: column;
        gap: 25px;
    }
    .searchBar{
        width: 100%;
    }
    .filterDropBox{
        width: 60%;
    }
}